{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django with Htmx</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- todomvc css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/todomvc-app-css@2.4.2/index.css">

  <!-- htmx -->
  <script src="{% static "core/js/htmx.1.8.0.min.js" %}" defer></script>
  <script src="{% static "core/js/_hyperscript.0.9.7.min.js" %}"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<section class="todoapp">
  {% block content %}
  {% endblock %}
</section>
{% django_browser_reload_script %}
</body>
</html>
