<li {% if object.is_done %}class="completed"{% endif %}>
  <div class="view">
    <input
      type="checkbox"
      {% if object.is_done %}checked{% endif %}
      hx-post="{% url "cbv_hx_location:toggle" pk=object.pk %}"
      class="toggle"
    >
    <label
      hx-get="{% url "cbv_hx_location:item-edit-partial" pk=object.pk %}"
      hx-trigger="dblclick"
      hx-target="closest li"
      hx-swap="outerHTML"
    >
      {{ object.title }}
    </label>
    <button
      hx-delete="{% url "cbv_hx_location:delete-view" pk=object.pk %}"
      class="destroy"
    >
    </button>
  </div>
</li>
