<li {% if todo.is_done %}class="completed"{% endif %}>
  <div class="view">
    <input
      type="checkbox"
      {% if todo.is_done %}checked{% endif %}
      hx-post="{% url "todos:todo_toggle" pk=todo.pk %}"
      class="toggle"
    >
    <label
      hx-get="{% url "todos:todo_edit" pk=todo.pk %}"
      hx-trigger="dblclick"
      hx-target="closest li"
      hx-swap="outerHTML"
    >
      {{ todo.title }}
    </label>
    <button
      hx-delete="{% url "todos:todo_delete" pk=todo.pk %}"
      class="destroy"
    >
    </button>
  </div>
</li>
