{% extends "todomvc/base.html" %}

{% block content %}
  <header class="header">
    <h1>todos</h1>
    <form action="{% url "todomvc:todo_create" %}" method="post" hx-boost="true">
      {{ form }}
    </form>
  </header>
  {% if number_todo_total > 0 %}
    <section class="main">
      <input
        id="toggle-all"
        {% if number_todo_active == 0 %}checked{% endif %}
        type="checkbox"
        hx-post="{% url "todomvc:todo_toggle_all" %}"
        class="toggle-all"
      >
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        {% for todo in todos %}
          {% include "todomvc/todo_item.html" with object=object %}
        {% endfor %}
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong>{{ number_todo_active }}</strong> item left</span>
      <ul class="filters">
        <li>
          <a
            href="{% url "todomvc:todo_list" %}"
            hx-boost="true"
            {% if menu == "all" %}class="selected"{% endif %}
          >
            All
          </a>
        </li>
        <li>
          <a
            href="{% url "todomvc:todo_list_with_params" filter_by="active" %}"
            hx-boost="true"
            {% if menu == "active" %}class="selected"{% endif %}
          >
            Active
          </a>
        </li>
        <li>
          <a
            href="{% url "todomvc:todo_list_with_params" filter_by="completed"  %}"
            hx-boost="true"
            {% if menu == "completed" %}class="selected"{% endif %}
          >
            Completed
          </a>
        </li>
      </ul>
      {% if number_todo_completed %}
        <button
          hx-delete="{% url "todomvc:todo_clear_completed" %}"
          class="clear-completed"
        >
          Clear completed
        </button>
      {% endif %}
    </footer>
  {% endif %}
{% endblock %}
